[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "alps_core"]
	path = alps_core
	url = git@github.com:shinshu-alps/alps_core.git
